:root {
    --main-font: "Just Another Hand", cursive;
    --color: #c5a2bf;
}


body {
    background-color: var(--color);
    transition: background-color 0.8s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote-box {
    background-color: #e6e4e8;
    width: 600px;
    min-height: 150px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px 50px !important;
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: background-color 1s ease;
    /* Transición suave para el color de fondo */
}

.quote-content,
#author {
    opacity: 1;
    transition: opacity 0.8s ease;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

#text,
#author {
    color: var(--color);
    font-family: var(--main-font);
}

#text {
    display: flex;
    align-items: flex-start;
}

.quote-icon {
    font-size: 2.8rem;
    margin-right: 1.6px;
}

.quote-content {
    font-size: 2.5rem;
}

#author {
    margin-left: auto;
    font-size: 20px;
}

#new-quote,
#tweet-quote {
    border-radius: 3px;
}

#new-quote {
    background-color: var(--color);
    color: #fff;
    border: none;
}

#new-quote:hover,
#tweet-quote:hover,
#linkedin-quote:hover {
    opacity: 0.8;
}

#tweet-quote,
#linkedin-quote {
    background-color: var(--color);
    color: #fff;
}

.d-flex>a {
    margin-right: 5px;
}

#creator {
    margin-top: 20px;
    font-size: 13px;
    color: #ffff;
}